
.place-btn {
    width: 300px;
    height: 60px;
    padding: 15px 25px;
    margin: 20px;
    margin-left:50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:white;
    /* background-color: #fcfcfc; */
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    /* box-shadow: 9px 0px 15px 1px rgb(228 228 228); */
  }
  
  .place-btn:hover {
background: rgb(201,49,109);
background: linear-gradient(144deg, rgba(201,49,109,1) 0%, rgba(179,49,129,1) 38%, rgba(144,42,146,1) 67%, rgba(179,49,129,1) 100%);
    color: white;
  }
  
  .place-btn:active {

    background: rgb(201,49,109);
    background: linear-gradient(144deg, rgba(201,49,109,1) 0%, rgba(179,49,129,1) 38%, rgba(144,42,146,1) 67%, rgba(179,49,129,1) 100%);
    transform: translateY(4px);
    transform: scale(0.98);
  }
  