body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url("./components/webwall.png");
  height: 100vh; */
  /* background: rgb(29,25,106);
background: linear-gradient(144deg, rgba(29,25,106,1) 5%, rgba(89,118,249,1) 56%, rgba(178,169,227,1) 100%);
height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
